*{
    padding: 0;
    margin: 0;
    font-family: 'Built Titling', sans-serif;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-track{
    background-color: var(--black);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--red);
    border-radius: 20px;
    border: 3px var(--red) solid;
}

:root{
    --red: #FF0002;
    --black: #030303;
    --white: #FFF;
    --para-color: #848484;
    --dark-red: #480000;
}

body{
    width: 100%;
    height: 200vh;
    overflow-x: hidden;
    background-color: var(--black);
    cursor: url('images/xx.png'), auto;
    scrollbar-gutter: stable;
    
}



/* COMMON STYLES  */

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 150px;
}

.main-heading{
    color: var(--red);
    font-size: 8rem;
    font-weight: 400;
    line-height: 65%;
    letter-spacing: -4px;
    font-family: 'Built Titling', sans-serif;
    
}

.main-para{
    width: 90%;
    color: var(--white);
    font-weight: 400;
    color: var(--para-color);
    margin-top: 32px;
}

.main-button{
    padding: 12px 80px;
    background-color: var(--red);
    font-size: 2rem;
    text-decoration: none;
    border-radius: 60px;
    color: var(--white);
    display: inline-block;
    margin-top: 32px;
    width: 50%;
    text-align: center;
    text-wrap: nowrap;
    transition: ease-in-out .5s;
}
.main-button:hover{
    box-shadow: 0 0 50px 15px var(--red);
}
.other-font{
    font-family: "Another Danger - Demo";
    color: var(--white);
}
.blur-ball{
    width: 500px;
    height: 500px;
    background-color: var(--red);
    position: absolute;
    filter: blur(300px);
    z-index: -1;
}



/* NAVIGATION BAR */

.navbar{
    /* background-color: black; */
    width: 100%;
    padding: 22px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(20px);
}
.nav_image img{
    width: 50px;
    height: auto;
}
.navlinks ul{
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    padding: 4px 20px;
}
.navlinks ul li{
    list-style: none;
    margin: 8px 36px;
}
.navlinks ul li a{
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
    transition: ease-in-out .2s;

}
.navlinks ul li a:hover{
    color: var(--red);
}



/* LANDING PAGE */
.landing_page_image img{
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -5%;
    user-select: none;
}
.landing_left_texts{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 64px;
    /* user-select: none; */
}

#text_you{
    color: var(--white);
    position: relative;
    bottom: 30px;
}
#text_missed{
    color: var(--white);
}


/* SECOND SECTION  */


.b1{
    left: -20%;
}
.b2{
    right: -20%;
    top: 150%;
}
.second-section-img img{
    width: 100%;
    position: relative;
    right: 5%;
}
.second-section-texts{
    /* background-color: gray; */
    margin-right: 150px;
}
.second-section-para{
    padding-top: 22px;
}
.watch-btn{
    display: flex;
    margin-top: 32px;
    width: 200px;
    align-items: center;
    text-decoration: none;
}
.watch-btn img{
    width: 46px;
    transition: .5s;
}
.watch-btn p{
    font-size: 2rem;
    color: var(--white);
    margin-left: 18px;
}
.watch-btn:hover .yt-image {
    transform: rotate(-20deg) scale(1.2);
}


/* BOOKING PAGE  */
.booking-section{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.booking_text{
    text-align: center;
}
.tick{
    font-size: 6rem;
    position: relative;
    bottom: 32px;
}
.booking-cards{
    display: flex;
    /* background-color: gray; */
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.card{
    width: 300px;
    padding: 32px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 350px;
    background-color: var(--dark-red);
    position: relative;
}
.card h2{
    color: var(--white);
    font-size: 3rem;
    font-weight: 400;
    position: relative;
}
.card p{
    color: var(--para-color);
}
.card a{
    background-color: var(--white);
    color: var(--dark-red);
    text-decoration: none;
    padding: 12px 48px;
    font-size: 1.5rem;
    border-radius: 30px;
    transition: .3s;
}
.card a:hover{
    box-shadow: 0 0 100px 15px var(--white);
}
.most-pop h2::before {
    content: "MOST POPULAR";
    position: absolute;
    top: -75px;
    left: 60%;
    transform: translateX(-50%);
    background-color: var(--white);
    color: var(--dark-red);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 6px 48px;
    border-radius: 20px;
    text-transform: uppercase;
    white-space: nowrap; 
    z-index: 1; 
}
